info_email: 
user: info@pvp-cambodia.com
pass: I6-Ii-^doc,P

info_email: 
user: consult@pvp-cambodia.com
pass: kZLOeghDWIFS

smtp/elasti mail login: 
email: consult@pvp-cambodia.com
pass:  kZLOeghDWIFS

smtp-credential: 
user: consult@pvp-cambodia.com
pass: 8520C0B3DCBD513A87EEED68F08C714867CB
port: 2525

generate token: de8683f7-f063-4201-a484-ada522e0d109 

